.auth-fragment {
    background-color: moccasin;
    height: 2em;

    text-align: center;
    width: 100%;
}
input[type=radio] {
    visibility: hidden;
}
input[type=radio]:checked + label {
    border: 1px solid salmon;
    font-weight: bold;
}
label {
    cursor: pointer;
    font-size: larger;
    font-variant: all-petite-caps;
}
.auth-sign-up
{
    background-color: burlywood;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 7px;
    padding: 5px 7px;
    text-decoration: none;
    display: inline-block;
    transition: background-color .2s;
}
.auth-sign-up:hover
{
    background-color: khaki;
}
